body
{
	background-color: black;
}
h1
{
	color: white;
	font-style: italic;;
	font-weight: bold;
	font-size: 100px;
	margin-bottom: 45px;
	margin-top: 10px;
}
.container
{
	text-align: center;
	margin-top: 10px;
}
table
{
	margin: auto;
}

input{
    border-radius: 21px;
    border: 5px solid white;
    font-size:34px;
    height: 65px;
    width: 456px;
    margin-bottom: 8px;
}
button{
	margin-top: 5px;
    border-radius: 20px;
    font-size: 40px;
    background: #978fa0;
    width: 102px;
    height: 90px;
    margin: 6px;
    font-weight: bold;
    cursor: pointer;

}
.calculator
{
	border: 3px solid white;
	display: inline-block;
	padding: 23px;
    border-radius: 53px;

}

.btn:hover
{
	font-size:65px;
	background-color: red;

}